*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
}
.header{
    background-color: rgb(74, 102, 81);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #f5f5f5;

}
.body{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 2px solid black;
}
.imageBox{
    width: 150px;
    height: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.userTitle{
    /* background-color: rgb(255, 127, 146); */
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact{
    display: flex;
    gap: 20px;
}
.description{
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.row1{
    width: 50%;
    /* background-color: red; */
    border-right: 2px solid black;
    padding: 25px 45px;
}
.box{
    height: 150px;
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}